p {
  font-style: italic;
  font-size: 2rem;
}

.mainDiv{
  position: absolute;
  left: calc(50% - 350px);
  top: calc(25% - 125px);
  width: 700px;
  height: 250px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  padding: 20px;
  background-color: silver;
  border: solid 3px black;
  border-radius: 3px;

}

.mainDivOzón {
  position: absolute;
  left: calc(50% - 350px);
  top: calc(25% - 125px);
  width: 700px;
  height: 270px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  padding: 20px;
  background-color: silver;
  border: solid 3px black;
  border-radius: 3px;
}




.zpět {
  position: absolute;
  top: 400px;
  right: 320px;
  justify-self: center;

}

.stáhnout {
  position: absolute;
  top: 350px;
  right: 286px;
  justify-self: center;
}

/* Responsivity */
@media (max-width: 299px) {
  p {
    font-size: 0.7rem;
  }

  .mainDiv,
  .mainDivOzón {
    height: 170px;
    width: 95%;
    left: calc(50% - 47.5%);
  }

  .stáhnout {
    right: calc(50% - 63px);
    top: 250px;
  }
  .zpět {
    right: calc(50% - 30px);
    top: 300px;
  }
}
@media (min-width: 300px) and (max-width: 529px) {
  p {
    font-size: 1rem;
  }

  .mainDiv,
  .mainDivOzón {
    height: 200px;
    width: 95%;
    left: calc(50% - 47.5%);
  }

  .stáhnout {
    right: calc(50% - 63px);
    top: 250px;
  }
  .zpět {
    right: calc(50% - 30px);
    top: 300px;
  }
}

@media (min-width: 530px) and (max-width: 730px) {
  p {
    font-size: 1.5rem;
  }

  .mainDiv,
  .mainDivOzón {
    width: 500px;
    left: calc(50% - 250px);
  }

  .stáhnout {
    right: 187px;
  }
  .zpět {
    right: 220px;
  }
}