.favicon {
    height: 30px;
}
  
.passwordDiv {
    position: absolute;
    left: calc(50% - 92px);
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Added to center the button text */
}
  
.passwordSubmitButton {
    margin-top: 10px;
}
  
#passwordInput {
    margin-bottom: 10px;
}

.passwordHomeButton {
    margin-top: 20px
}

html.secret-content {
    background-image: url("IMGs/image2.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 40vh;
    width: 100vw;
    background-image: url("IMGs/image5.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 5rem;
} 

.image-container {
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    overflow: hidden;
    border: solid 15px black;
    border-radius: 6px;
    background-image: url("IMGs/sovietFlag2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container.small img {
    transform: scale(0.5);
  }
  
  .image-container.move img {
    transform: translateX(200px);
  }
  
  #myImage {
      width: 400px;
  }